/* stylelint-disable csstree/validator */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Common styles */
* {
  margin: 0;
  padding: 0 0;
  box-sizing: border - box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Inter", "Courier New", Courier, monospace;
  font-weight: 400;
}

html {
  font-size: 62.5%;

  --white: #fff;
  --buttons-color: #36b37f;
  --Primary-text-color: #172b4d;
  --Primary-text-color2: #3a4a42;
  --lighterG1: #c5e9da;
  --lighterG2: #ebf0ee;
  --Pressed: #008552;
}

body {
  width: 100%;
  height: 100vh;
  text-decoration: none;
  box-sizing: border-box;
}

.main-wrapper {
  width: 100%;
  height: 100vh;
  margin-bottom: 8rem;
}

#blur {
  filter: blur(100px);
}

footer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  padding-bottom: 0.5rem;
}

button:active {
  background-color: var(--Pressed);
}

/* End of Common Styles */

/* Desktop version */
@media (min-width: 500px) {
  .wrap {
    position: absolute;
    display: flex;
    width: 100%;
    height: 91.8em;
    left: 0;
    top: 0;
    background: #c1c7d0;
    mix-blend-mode: multiply;
  }

  .wrap1 {
    display: flex;
    flex-flow: column;
    height: 82em;
    width: 72.25em;
    margin: auto auto;
    background: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 8px;
    z-index: 3;
  }

  .wrap1-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -3rem;
  }

  .wrap1-img-img {
    width: 95%;
    height: 41.5rem;
    margin: auto;
    z-index: 9;
  }

  .wrap-header {
    width: 95%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 4em;
    z-index: 5;
  }

  .xx {
    width: 95%;
    height: 3.5rem;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .xx-img {
    width: 4rem;
    height: 100%;
    background: #ebecf0;
    mix-blend-mode: multiply;
    border-radius: 8px;
    background-image: url('images/cancel.png');
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    border: none;
  }

  .wrap-header h3 {
    width: 50%;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 100%;
    color: #172b4d;
  }

  .wrap-bottom {
    margin: auto;
    margin-top: 10em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    height: 10em;
  }

  .wrap-detail {
    width: 95%;
    margin: auto;
    height: 236px;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 26px;
    text-align: justify;
    color: #344563;
    margin-bottom: 1em;
  }

  .wrap-bottom ul {
    width: max-content;
    margin-left: 1.8rem;
    margin-top: -8rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .wrap-bottom ul li {
    width: fit-content;
  }

  .btnD {
    margin: auto;
    width: 50%;
    height: 10em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .btnPP-imgS {
    float: right;
    width: 45px;
    height: 40px;
    padding: 0 0;
    margin: 0;
  }

  .btnPP-imgL {
    float: right;
    width: 30px;
    height: 20px;
    padding-left: 15px;
    padding-bottom: 12px;
  }

  .spanS {
    float: left;
    padding-top: 15px;
    padding-left: 10px;
    color: #fff;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    text-decoration: none;
  }

  .spanL {
    float: left;
    padding-top: 5px;
    padding-left: 15px;
    color: #fff;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    text-decoration: none;
  }

  .live {
    display: flex;
    flex-direction: column nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1px;
    gap: 2px;
    position: absolute;
    width: 124px;
    height: 48px;
    left: calc(51.5% - 124px / 2 + 91px);
    bottom: 23em;
    background: #36b37e;
    border-radius: 8px;
    line-height: 12px;
    text-decoration: none;
  }

  .source {
    display: flex;
    flex-direction: column nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2px;
    gap: 2px;
    position: absolute;
    width: 144px;
    height: 48px;
    left: calc(62.5% - 124px / 2 + 91px);
    bottom: 23em;
    background: #36b37e;
    border-radius: 8px;
    line-height: 12px;
  }

  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height: 2.75rem;
    padding-top: 2rem;
    transition: 1s;
  }

  .welcome {
    display: none;
  }

  .Menu-items {
    display: flex;
    height: 100px;
    width: 30%;
    left: 20px;
    top: 98px;
  }

  .nav--link {
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    color: var(--Primary-text-color);

    /* End of Navbar */
  }

  /* Header section */
  .header {
    width: 100%;
    height: 150%;
    background: url("images/Header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin-top: -4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    transition: 1s;
  }

  .header1 {
    margin-top: 25.5rem;
    margin-left: rem;
    width: 52.4rem;
    height: 12rem;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 6.2rem;
    text-align: center;
    color: var(--Primary-text-color);
    transition: 1s;
  }

  .header1::after {
    /* margin-top: -5.5rem; */
    content: "        I'm a software developer";
    width: 35.4rem;
    height: 12rem;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    margin-left: rem;
    text-align: center;
    color: var(--buttons-color);
    margin-bottom: 2rem;
    transition: 1s;
  }

  .header-detail {
    margin-top: 2rem;
    width: 52%;
    height: 164px;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.95rem;
    text-align: center;
    color: var(--Primary-text-color);
    transition: 1s;
  }

  .social {
    position: relative;
    top: -15%;
    width: 20rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
  }

  .social image {
    font-size: 2rem;
  }

  .Arrow {
    position: relative;
    top: -20rem;
    margin-bottom: 0;
    margin-top: 5.5rem;
    transition: 1s;
  }

  /* End of Header section */

  /* Works section */

  .works {
    margin: auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 352px 352px;
    row-gap: 3rem;
    grid-template-areas:
      "Work1 Work2 Work3"
      "Work4 Work5 Work6";
    transition: 1s;
  }

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
    margin-top: 3rem;
  }

  .works-title {
    font-family: "Inter" "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 4.1rem;
    line-height: 7rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--Primary-text-color);
    width: fit-content;
  }

  .workp1 {
    grid-area: Work1;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 327px;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .workp2 {
    grid-area: Work2;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 327px;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .workp3 {
    grid-area: Work3;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 327px;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .workp4 {
    grid-area: Work4;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 327px;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .workp5 {
    grid-area: Work5;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 327px;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .workp6 {
    grid-area: Work6;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 327px;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .work-frame {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background: var(--white);
    border-radius: 8px;
  }

  .work-card img {
    display: flex;
    align-self: flex-start;
    width: 100%;
    height: 50%;
    z-index: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .work-title {
    width: 295px;
    height: 57px;
    font-family: "Inter" "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--Primary-text-color2);
    margin-bottom: 2rem;
  }

  .lang-list-item {
    list-style: none;
    display: inline;
    padding: 8px 10px;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    background: var(--lighterG2);
    border-radius: 4px;
  }

  .buttonW {
    display: flex;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 122px;
    height: 48px;
    background: var(--buttons-color);
    color: var(--white);
    border-radius: 4px;
    margin-top: 2rem;
  }

  .about-section {
    width: 100%;
    margin: auto;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 352px;
    row-gap: 3rem;
    grid-template-areas:
      "about about about"
      "languages frameworks skills";
    transition: 1s;
  }

  .about {
    grid-area: about;
    width: 100%;
    margin: auto;
    height: auto;
    background: url("images/abt.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-contact-header {
    margin-top: 4.5rem;
    width: 30rem;
    height: 12rem;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 3.5rem;
    text-align: center;
    color: #172b4d;
  }

  .about-detail {
    margin-bottom: 0.5rem;
    width: 60%;
    height: auto;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 3rem;
    color: #42526e;
  }

  .buttonA {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    padding: 2px;
    width: 159px;
    height: 50px;
    background: var(--buttons-color);
    border-radius: 4px;
    color: var(--white);
    flex: none;
    position: relative;
    bottom: 0;
    order: 2;
  }

  .llang {
    display: flex;
    flex-flow: row wrap;
    line-height: 15px;
    height: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    width: 98%;
  }

  .llang-list-item {
    list-style: none;
    display: flex;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    flex-flow: column wrap;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: 8px 10px;
    width: fit-content;
    height: 2rem;
    background: var(--white);
    color: var(--buttons-color);
    border-radius: 8px;
  }

  .languages {
    grid-area: languages;
    margin: auto;
    width: 327px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .languages .llang {
    margin-top: 2.2rem;
    bottom: 3.5rem;
  }

  .frameworks {
    grid-area: frameworks;
    position: relative;
    margin: auto;
    width: 327px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .skills {
    grid-area: skills;
    margin: auto;
    width: 327px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .about-label {
    width: 337px;
    height: 22px;
    font-family: "Inter" "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 32px;
    text-align: center;
    color: #344563;
  }

  /* End of Works section */

  /* Contact section */

  .contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    column-gap: 3rem;
    height: 70%;
    background: url("images/Contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    margin-bottom: 4rem;
    margin-top: 20rem;
  }

  .address {
    display: none;
  }

  .conatct-header {
    width: 35%;
    height: 12rem;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4.5rem;
    text-align: justify;
    color: #172b4d;
  }

  .contact-form {
    width: 55%;
    height: auto;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    z-index: 20;
    margin-bottom: 4rem;
  }

  .contact-form input {
    width: 90%;
    height: 3.5rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    gap: 1.5rem;
    background: #fff;
    border: 1px solid #d0d9d4;
    color: #111;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 4px;
    transition: all 1s;
  }

  .contact-form textarea {
    width: 90%;
    height: 9rem;
    padding: 1rem 1rem;
    margin: 0.25rem;
    gap: 1.5rem;
    background: #fff;
    color: #000;
    border: 1px solid var(--buttons-color);
    font-family: "Inter", "Courier New", Courier, monospace;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 4px;
    outline-color: #008552;
  }

  .buttonC {
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    padding: 10px;
    gap: 5px;
    position: relative;
    width: 130px;
    height: 48px;
    background: var(--buttons-color);
    color: var(--white);
    border-radius: 6px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  /* End of Contact section */

  /* End of Desktop vsersion */
}

/* Mobile Version */

@media (max-width: 1200px) {
  .live {
    width: 124px;
    height: 48px;
    left: calc(50.5% - 124px / 2 + 91px);
    bottom: 23em;
  }

  .source {
    width: 144px;
    height: 48px;
    left: calc(64.5% - 124px / 2 + 91px);
    bottom: 23em;
  }

  .works {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 352px 352px 352px;
    grid-gap: 23px;
    grid-template-areas:
      "Work1 Work2"
      "Work3 Work4"
      "Work5 Work6";
    transition: 1s;
  }

  .about-section {
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 420px 352px 352px;
    grid-gap: 23px;
    grid-template-areas:
      "about about"
      "languages frameworks"
      "skills skill ";
    transition: 1s;
  }

  .about {
    grid-area: about;
    margin: auto;
    width: 96%;
    height: auto;
    background: url("images/abt.png");
    background-repeat: no-repeat;
    background-clip: border-box;
    object-fit: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
  }

  .conatct-header {
    margin: auto;
    margin-top: 0;
    width: 35%;
    height: 12rem;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4.5rem;
    text-align: center;
    color: #172b4d;
  }

  .social {
    position: relative;
    top: -10%;
    transition: 1s;
  }

  .Arrow {
    position: relative;
    top: -20%;
  }
}

@media (max-width: 900px) {
  .wrap1-img {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: -10rem;
  }

  .wrap1-img-img {
    width: 95%;
    height: 24rem;
    margin: auto;
    z-index: 3;
  }

  .wrap-header {
    width: 95%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 4em;
    z-index: 5;
  }

  .xx {
    width: 87.6%;
    height: 3.5rem;
    margin: auto;
    margin-top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    color: #fff;
    z-index: 50;
  }

  .xx-img {
    width: 4rem;
    height: 100%;
    border-radius: 8px;
    background-color: transparent;
    background-image: url('images/cancel.png');
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    border: none;
  }

  .wrap-header h3 {
    width: 80%;
    height: auto;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.6rem;
    color: #172b4d;
    margin-top: -8rem;
  }

  .wrap-bottom {
    margin: auto;
    margin-top: 5em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    height: 10em;
  }

  .wrap-detail {
    width: 90%;
    margin: auto;
    height: 236px;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 24px;
    text-align: justify;
    color: #344563;
    margin-bottom: 1em;
  }

  .spanS {
    float: left;
    padding-top: 15px;
    padding-left: 10px;
    color: #fff;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    text-decoration: none;
  }

  .spanL {
    float: left;
    padding-top: 5px;
    padding-left: 15px;
    color: #fff;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    text-decoration: none;
  }

  .live {
    display: flex;
    flex-direction: column nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 1px;
    gap: 2px;
    position: absolute;
    width: 154px;
    height: 50px;
    left: calc(20% - 124px / 2 + 91px);
    bottom: 4.5em;
    background: #36b37e;
    border-radius: 8px;
    line-height: 12px;
    text-decoration: none;
  }

  .source {
    display: flex;
    flex-direction: column nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 2px;
    gap: 2px;
    position: absolute;
    width: 174px;
    height: 50px;
    left: calc(50.5% - 124px / 2 + 91px);
    bottom: 4.5em;
    background: #36b37e;
    border-radius: 8px;
    line-height: 12px;
  }

  .works {
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 474px 474px 474px 474px 474px 474px;
    grid-gap: 23px;
    grid-template-areas:
      "Work1"
      "Work2"
      "Work3"
      "Work4"
      "Work5"
      "Work6";
    transition: 1s;
  }

  .about-section {
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 460px 352px 352px 352px;
    grid-gap: 23px;
    grid-template-areas:
      "about"
      "languages"
      "frameworks"
      "skills";
    transition: 1s;
  }

  .about {
    grid-area: about;
    width: 100%;
    margin: auto;
    height: 100%;
    background: url("images/abt.png");
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
  }

  /* .about {
    grid-area: about;
    width: 100%;
    margin: auto;
    margin-left: %;
  } */

  .conatct-header {
    margin-top: 0;
    width: 35%;
    height: 12rem;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #172b4d;
  }
}

@media (max-width: 550px) {
  /* Modal */
  .wrap {
    position: absolute;
    display: flex;
    width: 100%;
    height: 91.8em;
    left: 0;
    top: 0;
    background: #c1c7d0;
    mix-blend-mode: multiply;
  }

  .wrap1 {
    display: flex;
    flex-flow: column;
    height: 97%;
    width: 95%;
    margin: auto;
    background: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 8px;
    z-index: 3;
  }

  .wrap1-img {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: -19rem;
  }

  .wrap1-img-img {
    width: 95%;
    height: 24rem;
    margin: auto;
    z-index: 3;
  }

  .wrap-header {
    width: 95%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 4em;
    z-index: 5;
  }

  .xx {
    width: 87.6%;
    height: 3.5rem;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    color: #fff;
    z-index: 50;
  }

  .xx-img {
    width: 4rem;
    height: 100%;
    border-radius: 8px;
    background-color: transparent;
    background-image: url('images/Enable.png');
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    border: none;
  }

  .wrap-header h3 {
    width: 80%;
    height: auto;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.6rem;
    color: #172b4d;
    margin-top: -12rem;
  }

  .wrap-bottom {
    margin: auto;
    margin-top: 10em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    height: 10em;
  }

  .wrap-detail {
    width: 90%;
    margin: auto;
    height: 236px;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 24px;
    text-align: justify;
    color: #344563;
    margin-bottom: 1em;
  }

  .wrap-bottom ul {
    width: max-content;
    margin-left: 1.8rem;
    margin-top: -24rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .wrap-bottom ul li {
    width: fit-content;
  }

  .wrap-bottom ul li:nth-child(n + 4) {
    display: none;
  }

  .btnD {
    margin: auto;
    width: 50%;
    height: 10em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  .btnPP-imgS {
    float: right;
    width: 45px;
    height: 40px;
    padding: 0 0;
    margin: 0;
  }

  .btnPP-imgL {
    float: right;
    width: 30px;
    height: 20px;
    padding-left: 15px;
    padding-bottom: 12px;
  }

  .spanS {
    float: left;
    padding-top: 15px;
    padding-left: 10px;
    color: #fff;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    text-decoration: none;
  }

  .spanL {
    float: left;
    padding-top: 5px;
    padding-left: 15px;
    color: #fff;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    text-decoration: none;
  }

  .live {
    display: flex;
    flex-direction: column nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 1px;
    gap: 2px;
    position: absolute;
    width: 154px;
    height: 50px;
    left: calc(1% - 124px / 2 + 91px);
    bottom: 2.5em;
    background: #36b37e;
    border-radius: 8px;
    line-height: 12px;
    text-decoration: none;
  }

  .source {
    display: flex;
    flex-direction: column nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 2px;
    gap: 2px;
    position: absolute;
    width: 174px;
    height: 50px;
    left: calc(45.5% - 124px / 2 + 91px);
    bottom: 2.5em;
    background: #36b37e;
    border-radius: 8px;
    line-height: 12px;
  }

  /* Navbar */

  .navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 5.75rem;
    margin: 12px 19px;
  }

  .Hamburger {
    position: relative;
    cursor: pointer;
    width: 18px;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    right: 15.612px;
    top: 0;
    transition: 1s;
  }

  .bar {
    display: block;
    position: relative;
    width: hug(16px);
    height: 2px;
    background-color: var(--Primary-text-color);
    transition: 1s;
  }

  .Hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .Hamburger.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
    background: #93a79d;
  }

  .Hamburger.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
    background: #93a79d;
  }

  .Menu-items.active {
    display: block;
    width: 100%;
    z-index: 50;
  }

  .HamburgerX {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 18px;
    height: 1.2rem;
    flex-direction: column;
    justify-content: space-evenly;
    right: 36.612px;
    top: 20px;

    /* border: red solid 3px;  */
  }

  .barX {
    display: none;
    position: relative;
    width: hug(16px);
    height: 2px;
    background-color: var(--Primary-text-color);
  }

  .welcome {
    display: flex;
    width: hug(5.625rem);
    height: hug(2rem);
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.95rem;
    text-align: left;
    color: #28352f;
    margin-left: 1rem;
    transition: 1s;
  }

  .Menu-items {
    display: none;
    position: absolute;
    height: 100%;
    width: 95vw;
    left: 0;
    top: 8;
    background-color: #fff;
    background-position: center;
    margin-top: 5%;
    transition: 1s;
  }

  .nav--link {
    font-family: "Inter", "Courier New", Courier, monospace;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    color: var(--Primary-text-color2);
    background-color: #fff;
    padding-left: 2.5rem;
    transition: 1s;

    /* End of Navbar */
  }

  /* Header section */
  .header {
    width: 100%;
    height: 120%;
    padding-bottom: 8.55rem;
    background: url("images/Mob-main.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header1 {
    margin-top: 9.5rem;
    width: 27.4rem;
    height: 30rem;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
    color: var(--Primary-text-color);
    transition: 1s;
  }

  .header1::after {
    /* margin-top: -5.5rem; */
    content: "        I'm a software developer";
    width: 20.4rem;
    height: 12rem;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
    color: var(--buttons-color);
    margin-bottom: 2rem;
    transition: 1s;
  }

  .header-detail {
    margin-top: 5rem;
    margin-bottom: 6.5rem;
    width: 36rem;
    height: 164px;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.9px;
    text-align: center;
    color: var(--Primary-text-color);
    transition: 1s;
  }

  .social {
    width: 20rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -2%;
  }

  .Arrow {
    position: relative;
    top: 10%;
  }

  /* End of Header section */

  /* Works section */

  .works {
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 474px 474px 474px 474px 474px 474px;
    grid-gap: 23px;
    grid-template-areas:
      "Work1"
      "Work2"
      "Work3"
      "Work4"
      "Work5"
      "Work6";
  }

  .title {
    /* grid-area: title; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .works-title {
    font-family: "Inter" "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 4.1rem;
    line-height: 7rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--Primary-text-color);
    width: 100%;
  }

  .works-title::after {
    content: "";
    width: 7rem;
    height: 0.4rem;
    border-radius: 15%;
    background: var(--buttons-color);
    position: relative;
    margin-top: 10%;
    right: 15rem;
    top: 7.5rem;
  }

  .workp1 {
    grid-area: Work1;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 327px;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .workp2 {
    grid-area: Work2;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 327px;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .workp3 {
    grid-area: Work3;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 327px;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .workp4 {
    grid-area: Work4;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 327px;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .workp5 {
    grid-area: Work5;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 327px;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .workp6 {
    grid-area: Work6;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    width: 327px;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .work-frame {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background: var(--white);
    border-radius: 8px;
    z-index: 10;
  }

  .work-card img {
    display: flex;
    align-self: flex-start;
    width: 100%;
    height: 55%;
    z-index: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .work-title {
    width: 295px;
    height: 57px;
    font-family: "Inter" "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--Primary-text-color2);
    margin-bottom: 2rem;
  }

  .work-frame ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .lang-list-item {
    list-style: none;
    display: inline;
    width: fit-content;
    font-size: 1.2rem;
    padding: 8px 10px;
    height: 2rem;
    background: var(--lighterG2);
    border-radius: 4px;
  }

  .buttonW {
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 10px;
    position: relative;
    width: 122px;
    height: 48px;
    background: var(--buttons-color);
    color: var(--white);
    border-radius: 4px;
    margin-top: 2rem;
  }

  /* End of Works section */

  /* About section */

  .about-section {
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 350px 352px 352px 352px;
    grid-gap: 23px;
    grid-template-areas:
      "about"
      "languages"
      "frameworks"
      "skills";
  }

  .about {
    grid-area: about;
    width: 100%;
    margin: auto;
    height: 100%;
    background: url("images/abt.png");
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
  }

  .about-contact-header {
    margin-top: 4.5rem;
    width: 30rem;
    height: 12rem;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 3.5rem;
    text-align: center;
    color: #172b4d;
  }

  .about-detail {
    margin-bottom: 0.5rem;
    width: 36rem;
    height: auto;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 3rem;
    color: #42526e;
  }

  .buttonA {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    padding: 2px;
    width: 159px;
    height: 50px;
    background: var(--buttons-color);
    border-radius: 4px;
    color: var(--white);
    flex: none;
    position: relative;
    bottom: 0;
    order: 2;
  }

  .llang {
    display: flex;
    flex-flow: row wrap;
    line-height: 15px;
    height: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    width: 98%;
  }

  .llang-list-item {
    list-style: none;
    display: flex;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    flex-flow: column wrap;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: 8px 10px;
    width: fit-content;
    height: 2rem;
    background: var(--white);
    color: var(--buttons-color);
    border-radius: 8px;
  }

  .languages {
    grid-area: languages;
    margin: auto;
    width: 327px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .languages .llang {
    margin-top: 2.2rem;
    bottom: 3.5rem;
  }

  .frameworks {
    grid-area: frameworks;
    position: relative;
    margin: auto;
    width: 327px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .skills {
    grid-area: skills;
    margin: auto;
    width: 327px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background: var(--lighterG2);
    border: 1px solid #d0d9d4;
    border-radius: 8px;
  }

  .about-label {
    width: 337px;
    height: 22px;
    font-family: Inter, "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 32px;
    text-align: center;
    color: #344563;
  }

  /* End of About section */

  .contact-section {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    background: url("images/below.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }

  .conatct-header {
    margin-top: 4.5rem;
    margin-bottom: 2.7rem;
    width: 33rem;
    height: 12rem;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.5rem;
    text-align: center;
    color: #172b4d;
  }

  .contact-form {
    width: 80%;
    height: auto;
    display: flex;
    flex-flow: column;
    margin-top: 30.5rem;
    gap: 1rem;
  }

  .contact-form input {
    width: 90%;
    height: 3.5rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    gap: 1.5rem;
    background: #fff;
    border: 1px solid #d0d9d4;
    color: #111;
    font-family: "Inter", "Courier New", Courier, monospace;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 4px;
    transition: all 1s;
  }

  .contact-form textarea {
    width: 90%;
    height: 9rem;
    padding: 1rem 1rem;
    margin: 0.25rem;
    gap: 1.5rem;
    background: #fff;
    color: #000;
    border: 1px solid var(--buttons-color);
    font-family: "Inter", "Courier New", Courier, monospace;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 4px;
    outline-color: #008552;
  }

  .buttonC {
    margin: auto;
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    padding: 10px;
    gap: 5px;
    position: relative;
    width: 130px;
    height: 48px;
    background: var(--buttons-color);
    color: var(--white);
    border-radius: 6px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .address {
    font-family: "Inter", "Courier New", Courier, monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 4rem;
    text-align: center;
    color: #42526e;
    margin-top: 1.5rem;
  }

  /* End of Contact section */
}

.error {
  color: #f00;
  font-size: 1.5rem;
  margin-top: 1px;
  transition: all 1s;
}

/* ANIMATION SELECTORS */
.Menu-items a {
  transition: color 0.6s;
}

.work-card {
  transform: rotateY(05deg) skewX(-0deg);
  transition: transform 0.5s, box-shadow 0.5s;
}

.work-card:hover {
  transform: rotateY(40deg) skewX(-2deg) translateY((-3rem));
  box-shadow: 2rem 2rem 2rem var(--buttons-color);
  border-radius: 20%;
}

.asset-card {
  transform: rotateY(05deg) skewX(-0deg);
  transition: transform 0.5s, box-shadow 0.5s;
}

.asset-card:hover {
  transform: rotateY(40deg) skewX(-20deg) translateY((-3rem));
  box-shadow: 2rem 2rem 2rem var(--Primary-text-color2);
  border-radius: 20%;
}

.social a {
  transform: rotateY(0deg);
  transition: transform 0.5s, box-shadow 0.5s;
}

.social a:hover {
  transform: rotateY(90deg) skewX(-2deg) translate((-30rem));
  box-shadow: 1rem 2rem 1rem var(--Primary-text-color2);
  border: #111 solid 5px;
  border-radius: 50%;
}

.social a img:hover {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(359deg);
  }
}

.Menu-items a:hover {
  color: var(--buttons-color);
  font-weight: 900;
}

.bar:hover {
  background-color: var(--buttons-color);
}
